{% extends 'base.html' %}

{% block title %}Tasks{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class='container p-3'>
    <div class="p-3">
        <h1>All Tasks</h1>
    </div>
    <div class="row p-3">
        <div class="col-4">
            <p>NEW</p>
            {% if status_new %}
            {% for task in status_new %}
            <div class="p-3 bg-light">
                {% include 'include/card.html' %}
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="col-4">
            <p>OPEN</p>
            {% if status_open %}
            {% for task in status_open %}
            <div class="p-3 bg-light">
                {% include 'include/card.html' %}
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="col-4">
            <p>CLOSE</p>
            {% if status_close %}
            {% for task in status_close %}
            <div class="p-3 bg-light">
                {% include 'include/card.html' %}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<div class='container p-3'>
    <div>
        <h1>To see tasks</h1>
    </div>
    <div>
        <p>Please <a href="{% url 'login' %}">Log in</a> or <a href="{% url 'register' %}">Sign up</a></p>
    </div>
</div>
{% endif %}
{% endblock %}