<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Sales</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Create new</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">All</a>
                </li>
            </ul>
        </div>


        <div class="navbar-text">
            {% if request.user.is_authenticated %}
            <span>Hi, {{ request.user.username }}</span>
            <a href="{% url 'logout' %}">Logout</a>
            {%else%}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Sign up</a>
            {%endif%}
        </div>
    </div>
</nav>